body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #373737;
    border-top: #c0b283 1px solid;
    border-radius: 2vw;
    color: #f4f4f4;

}

/*Colors : Charcoal #373737 ; Pale Gold #C0B283 ; SILK #DCD0C0 ; PAPER # F4F4F4*/

.banner {
    margin-left: 24%;
    margin-right: auto;
    background-size: contain;
    max-width: 50%;

}

.nav {
    border: #c0b283 solid 1px;
    border-radius: 2vw;
    align-content: center;
    text-align: center;
    word-spacing: 20px;

    
}


html,
body {
    height: 99%;
    overflow: hidden;
}

h1,
hr {
    text-align: center;
    color: #f4f4f4;


}



a {
    color: #f4f4f4;
}

a:hover {
    color: #DCD0C0;

    transition: all .2s;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    font-weight: 700 ;

}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: #f4f4f4;
    text-align: center;
}

@keyframes hl {
    0% {
        font-weight: normal;
    }

    100% {
        font-weight: bold;
    }
}