body {
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(45deg, #373737 25%, transparent 25%), linear-gradient(315deg, #373737 25%, transparent 25%),linear-gradient(45deg, transparent 24%,#303030 25%, #303030 45%, transparent 45%), linear-gradient(315deg, transparent 24%,#303030 25%, #303030 45%, transparent 45%);
    background-size: 3em 3em;
    background-color: #373737;
    color: #f4f4f4;

}

/*Colors : Charcoal #373737 ; Pale Gold #C0B283 ; SILK #DCD0C0 ; PAPER # F4F4F4*/




.nav {

    word-spacing: 0.5em;

    margin-left: 20%;
    margin-right: 20%;
    padding: 0.5vh;
 
    border: #c0b283 solid 1px;
    border-radius: 2vw;
    align-content: center;
    text-align: center;
  
    
}


html,
body {
    height: 99%;
    overflow: hidden;
}

h1,
hr {

    letter-spacing: 0.5em;
    margin-top: 12%;
    padding: 0.5vh;
    text-align: center;
    color: #f4f4f4;


}



a {
    color: #f4f4f4;
}

a:hover {
    color: #DCD0C0;

    transition: all .2s;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    font-weight: 700 ;

}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: #f4f4f4;
    text-align: center;
}

@keyframes hl {
    0% {
        font-weight: normal;
    }

    100% {
        font-weight: bold;
    }
}