* {
    margin: 0;
    padding: 0;
}

.fundo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Helvetica, sans-serif;
    color: snow;

    height: 100%;
    background-image: radial-gradient(#010634, black);
    background-size: cover;

}

img {
    top: 1vw;
    transform: translate(405%, 5%);
}

.calc {
    position: absolute;
    background-color: snow;
    left: 50%;
    transform: translate(-50%, 50%);

    border-radius: 0.2em;
    padding: 0.5em;
    top: -30%;

}

.botao {
    color: black;
    background-color: white;
    width: 2em;
    height: 2em;
    padding: 2em;
    font-size: 20px;
    cursor: pointer;
    border-radius: 0.1em;
    border: .1px solid;

    margin: .1vw;
}

.botao:hover {
    background-color: darkgray;
}

h1 {
    text-align: center;
    color: rgb(255, 204, 75);
    font-weight: 200;
    text-shadow: black .1vh .2vh 0px;
}

#resultado {
    background-color: snow;
    color: black;
    font-size: 32px;

    margin: .1em;
    padding: .1em;
    text-align: right;
}