body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #373737;
    color: #f4f4f4;
    text-align:left;
    margin-left: 10%;
    margin-right: 10%;

    border: #C0B283 .2vw solid;
    border-top: none;
    border-bottom: none;
    padding-left: 2%;
    padding-right: 2%;

}

/*Colors : Charcoal #373737 ; Pale Gold #C0B283 ; SILK #DCD0C0 ; PAPER # F4F4F4*/

h1{
    padding: 1%;
    text-align: center;
    color: #f4f4f4;
}
h2,
h3 {
    padding: 1%;
    border: 1px solid #C0B283;
    border-radius: 1vw;
    text-align: center;
    color: #f4f4f4;
}

a {
    color: lime;
}

hr {
    background-color: #C0B283;
    border-color: 373737;
    border-radius: 2%;
    height: .1vw;
}

div {
    margin-top: 2%;
    margin-bottom: 2%;
}