input[type=checkbox] {
    display: inline;
}

.select0 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    
}

input {
    display: block;
    border: #909090 solid 1px;
    border-radius: 4px;

    margin-top: 2px;
    margin-bottom: 2px;

}


textarea,
input[type="text"],
input[type="email"] {
    width: 100%;
    border: #909090 solid 1px;
    border-radius: 4px;
}

body {
    color: #101010;
    font-stretch: extra-condensed;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: -webkit-radial-gradient(circle, #aaaa, #9989ff)
}



h1,
legend {
    text-align: center;
}

fieldset {
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}
.inside_FS {
    display: block;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}